[submodule "Modanisa-Bootcamp-week-1"]
	path = Modanisa-Bootcamp-week-1
	url = https://github.com/unsalsenturkk/Modanisa-Bootcamp-week-1
[submodule "Modanisa-Bootcamp-week-2"]
	path = Modanisa-Bootcamp-week-2
	url = https://github.com/unsalsenturkk/Modanisa-Bootcamp-week-2
[submodule "Modanisa-Bootcamp-week-3"]
	path = Modanisa-Bootcamp-week-3
	url = https://github.com/unsalsenturkk/Modanisa-Bootcamp-week-3
[submodule "Modanisa-Bootcamp-week-4"]
	path = Modanisa-Bootcamp-week-4
	url = https://github.com/unsalsenturkk/Modanisa-Bootcamp-week-4
[submodule "Modanisa-Bootcamp-week-5"]
	path = Modanisa-Bootcamp-week-5
	url = https://github.com/unsalsenturkk/Modanisa-Bootcamp-week-5
[submodule "Modanisa-Bootcamp-week-6"]
	path = Modanisa-Bootcamp-week-6
	url = https://github.com/unsalsenturkk/Modanisa-Bootcamp-week-6
